@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;

}

/* banner section styles */
.banner-container{
    /* position: absolute; */
    width: 1320px;
    height: 600px;
    /* left: 140px;
    right: -140px;
    top: 50px;
    bottom: -50px; */
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0)), url(../assets/images/Banner\ Image.png);
    /* background-image: url(../assets/images/Banner\ Image.png); */
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size: 72px;
    color: white;
    text-align: center;
    font-weight: 900;
}
.banner-subtitle{
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
}
/* main shared styles */
main{
    margin-top: 120px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
/* discount portion styles */
.discount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.discount-title{
    color: red;
    font-size: 88px;
    font-weight: 700px;
    margin-bottom: 48px;
}
.discount p{
    font-size: 24px;
    font-weight: 500px;
    color: red;
    margin-bottom: 16px;
}
.discount h3{
    font-size: 48px;
    font-weight: 700;

}
/* party banner styles */
.party-container{
    display: flex;
    gap: 40px;
    /* width: 1320px; */
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../assets/images/Vectorrr.png);
    margin-top: 130px;
    margin-bottom: 130px;
    height: 600px;
    border-radius: 16px;
}
.party-content{
    margin-left: 128px;
}
.party-content-title{
    font-size: 64px;
    font-weight: 900;
    color: white;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom: 24px;
}
.party-content p{
    color: white;
    font-size: 18px;
    opacity: 0.8;
    font-family: "Inter", sans-serif;
}
.party-content h5{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 48px;
    margin-left: 32px;
}
.year-image{
    margin-right: 110px;
}
/* party info styles */
.party-info{
    background: linear-gradient(180.00deg, rgba(255, 0 ,0 ,0.1), rgba(255, 0, 0, 0) 100%);
    height: 482px;
    border-radius: 16px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 56px;
    font-family: "Inter", sans-serif;
}
.party-info p{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}
.title{
    color: red;
    font-size: 32px;
    font-weight: 600;
}
.btn{
    padding: 16px 32px;
    background-color: red;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-top: 46px;
    cursor: pointer;
}
/* offer styles */
.offer-container{
    display: flex;
    justify-content: space-between;
    height: 463px;
    gap: 70px;
    align-items: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 130px;
}
.offer{
    max-width: 393px;
}
.offer-subtitle{
    color: red;
    font-size: 24px;
    font-weight: 500;
}
.offer-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family:  "Merriweather", serif;
    margin-top: 16px;
    margin-bottom: 22px;
}
.offer-description{
    color: #070211;
    font-size: 20px;
    opacity: 0.6;
}
.image{
    border: 10px solid red;
    padding: 30px;
    border-radius: 50%;
}
.offer-info-title{
    color: red;
    font-size: 48px;
    font-weight: 700;
}
.offer-info-description{
    font-size: 20px;
    color: #070211;
    opacity: 0.6;
    margin-top: 16px;
    margin-bottom: 43px;
}
/* sale info styles */
.sale-container{
    height: 986px;
    font-family: "Inter", sans-serif;
}
.sale-info{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    padding-left: 128px;
    padding-right: 128px;
}
.sale-info-sub{
    font-size: 24px;
    font-weight: 500;
    color: #070211;
}
.sale-info-title{
    font-family:  "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}
.sale-info-title span{
    color: red;
}
.sale-info p{
    color: #070211;
    opacity: 0.6;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
}
.sale-image{
    display: flex;
    background-image: url(../assets/images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.sale-image .box{
    overlay:auto;
}
/* portfolio styles */
.portfolio{
    height: 1163px;
    font-family: "Inter", sans-serif;
    margin-bottom: 130px;
}
.portfolio-content{
    width: 896px;
}
.portfolio-content h4{
    font-size: 24px;
    font-weight: 500;
    color: red;
}
.portfolio-content h2{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    font-family:  "Merriweather", serif;
    margin-top: 16px;
}
.portfolio-content p{
    font-size: 20px;
    color: #070211;
    opacity: 0.6;
    margin-bottom: 48px;
    margin-top: 22px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
/* subscription section styles */
.subscription{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    margin: 80px 212px 22px 212px;
}
.content h3{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 40px;
    
}
.content p{
    font-size: 20px;
    font-family: "Inter", serif;
    color: #070211;
    opacity: 0.6;
    margin-top: 22px;
}
.subscribe-bar{
    width: 648px;
    height: 72px;
    background: white;
    display: flex;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    margin-top: 48px;
}
.subscribe-bar input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.3;
    color: #070211;
    margin-left: 30px;
}
.subscribe-bar button{
    background: red;
    padding: 10px 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
}
/* footer styles */
footer{
    height: 609px;
    background: black;
    margin-top: 130px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.top{
    display: flex;
    justify-content: space-between;
    color: white;
    /* align-items: center; */
    width: 85%;
    margin: 0 auto;
    margin-top: 116px;
    margin-bottom: 50px;
    height: 40%;
    line-height: 40px;
}
.top > p > img{
    margin-right: 16px;
}
hr{
    color: white;
    width: 85%;
    opacity: 0.15;
}
.middle{
    height: 25%;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.bottom{
    height: 35%;
    margin-top: 50px;
    color: white;
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.bottom button{
    background: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none;
    margin-bottom: 125px;
    cursor: pointer;
}